project:
  type: website
  output-dir: docs
  resources:
    - files/**

website:
  title: "NCAA Research"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: NCAA_Notes.qmd
        text: Current Working Space
      - href: about.qmd
        text: About 

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

